@import bootstrap/bootstrap
@import partials/icomoon
@import partials/my_popovers
@import partials/navbar
@import partials/type
@import partials/store
@import partials/product
@import partials/footer
@import partials/responsive

body
  background-image: url(http://www.alexa-wright.com/images/footer.jpg)
  -webkit-font-smoothing: antialiased

.main-box 
  height: auto
  margin: auto
  width: 950px
  background: white
  min-height: 500px
  border: 30px solid rgba(231, 231, 231, 0.5)
  margin-top: 20px
  text-align: center
  overflow: auto

.main-box-content
  .about 
    display: none
  .store 
    display: none
  .product
    display: none
  .contact
    display: none

.main-box-content
  +opacity(0)
  +transition(2s opacity ease-in-out)
  &.load
    +opacity(1)

.about-inner-box
  padding: 40px 55px

.contact-inner-box
  padding: 40px 55px
  text-align: left

img
  &.full-width-image
    width: 100%
    margin-top: 0px
img.img-responsive
  margin: auto

.form-control
  display: block
  width: 100%
  height: $input-height-base
  // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal
  font-size: 14px
  color: black
  font-family: avenir
  vertical-align: middle
  border: 1px solid $input-border
  border-radius: $input-border-radius
  // +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075))
  // +transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s)

@media (max-width: 1000px)

  .main-box
    width: auto
    min-height: 100px

@media (max-width: 700px)

  .main-box
    width: auto
    min-height: 100px
    border: 20px solid rgba(231, 231, 231, 0.5)
  .footer
    padding: 10px
    .row
      .col-sm-4 
        margin-top: 10px


@media (max-width: 500px)

  .main-box
    min-height: 100px
    margin: auto
    width: auto
  .container
    padding: 10px
  .about-inner-box
    padding: 25px
  .main-box 
    border: 10px solid rgba(231, 231, 231, 0.5)
  .product-inner-box
    padding: 35px
  .similiar-items
    display: none