.title 
  %a{:href => '/'} Gromn 

%ul.nav
  %li
    %a.store{:href => '/collections', "data-link" => "collections"} Lookbook
  %li
    %a.store{:href => '/store', "data-link" => "store"} Shop
  %li
    %a.about{:href => '/about', "data-link" => "about"} Story
  %li
    %a{:href => 'http://gromn.tumblr.com', target: "_blank", "data-link" => "blog"} Journal
