.about
  %img.full-width-image{:src => 'http://placehold.it/600x300'}
  .row.blocktext
    %h9 Our Story
  .inner-box.about
    .row
      .col-sm-6
        %p Hello GROMN is squid velit actually, Banksy locavore proident. Messenger bag ullamco chia bespoke, duis sapiente meggings Odd Future keytar accusamus nesciunt lo-fi plaid dolore. Sustainable accusamus sartorial, odio 3 wolf moon 8-bit Bushwick. Accusamus gluten-free cred raw denim 90's. Mixtape deep v banjo, Tumblr biodiesel ut viral. XOXO id flannel wayfarers farm-to-table, squid nulla Intelligentsia tattooed sapiente minim sed jean shorts. Kitsch next level officia, esse art party.
      .col-sm-6
        %p Placeat squid velit actually, Banksy locavore proident. Messenger bag ullamco chia bespoke, duis sapiente meggings Odd Future keytar accusamus nesciunt lo-fi plaid dolore. Sustainable accusamus sartorial, odio 3 wolf moon 8-bit Bushwick. Accusamus gluten-free cred raw denim 90's. Mixtape deep v banjo, Tumblr biodiesel ut viral. XOXO id flannel wayfarers farm-to-table, squid nulla Intelligentsia tattooed sapiente minim sed jean shorts. Kitsch next level officia.
