.contact
  .inner-box.contact
    / .row
    /   .col-sm-12
    /     %h5 Hello There Test
    /     %hr
    .row
      .col-sm-6
        %p Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel lomo reprehenderit duis. Put a bird on it cardigan Brooklyn mlkshk hashtag. 
        %hr
        %h5 Email
        %br
        %p Say hello at 
        %a{:href => 'http://www.instagram.com/gromn'} 
          hello@gromn.com              
        %br
        %p Get more info at 
        %a{:href => 'http://www.instagram.com/gromn'} 
          info@gromn.com
        %br
        %h5 Find Us             
        %br
          %a{:href => 'http://www.instagram.com/gromn'} 
            Instagram
          %br
          %a{:href => 'http://www.twitter.com/gogromn'} 
            Twitter
      .col-sm-6
        %p Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel lomo reprehenderit duis. Put a bird on it cardigan Brooklyn mlkshk hashtag. Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel.
