.footer
  .inner-box.footer
    .row
      .col-sm-6.left © 2013 Gromn
      / .col-sm-4.icon 
      /   %a.icon-mail{:href => "mailto:alexalwright@gmail.com", :target => "_blank"}
      /   %a.icon-twitter{:href => "http://www.twitter.com/eatthesalt", :target => "_blank"}
      .col-sm-6.right
        %a.contact-link{:href => "/contact"} Contact Us