.container
  .title 
    %a{:href => '/index'} Gromn 

  %ul.nav
    %li
      %a.store{:href => '#', "data-link" => "collections"} Collections
    %li
      %a.store{:href => '#', "data-link" => "store"} Store
    %li
      %a.about{:href => '#', "data-link" => "about"} Story
    %li
      %a{:href => 'http://gromn.tumblr.com', target: "_blank", "data-link" => "blog"} Journal

  .main-box
    .main-box-content
      .intro
        / %img.full-width-image.img-responsive{:src => 'http://placehold.it/950x500'}
      .about
        %img.full-width-image{:src => 'http://placehold.it/600x300'}
        .inner-box.about
          .row
            .col-sm-6
              %p GROMN is the brainchild Amiko Simonetti & Alexa Wright, two best friends who love designing clothing but can’t tolerate the ego overload in fashion. So we’re designing for people who want to participate in good clothing at a skin deep level. Meow meow meow meow smudge smell face. Come hang with us. So we’re designing for people who want to participate in good clothing at a skin deep level. Meow meow meow meow smudge smell face. 
            .col-sm-6
              %p Meow hang with us. Friends who love designing clothing but can’t tolerate the ego overload in fashion. So we’re designing for people who want to participate in good clothing at a skin deep level. Meow meow meow meow smudge smell face. Come hang with us. So we’re designing for people who want to participate in good clothing at a skin deep level. Meow meow meow meow smudge smell face. Come hang with us. 

      .collections
        %img.img-responsive{:src => 'http://placehold.it/950x500'}


      .store
        .inner-box.store
          .row
            - 3.times do
              .col-sm-4
                .item
                  %a{:href => '/product'}
                    %img.thumbnail{:src => '/images/tank.jpg'}
          .row
            - 3.times do
              .col-sm-4
                .item
                  %a{:href => '/product'}
                    %img.thumbnail{:src => '/images/bag.jpg'}
          .row
            - 3.times do
              .col-sm-4
                .item
                  %a{:href => '/product'}
                    %img.thumbnail{:src => '/images/tank-black.jpg'}

      .product
        .arrow.left
          %span.glyphicon.glyphicon-chevron-left
        %img.product-main.img-responsive{:src => '/images/bag.jpg'}
        %img.full-width-image.img-responsive.view1{:src => 'http://placehold.it/950x500'}
        .arrow.right
          %span.glyphicon.glyphicon-chevron-right
        %br
        .row.views
          .col-sm-12
            - 5.times do
              %a{:href => '/view1'}
                %img.product-views{:src => 'http://placehold.it/60x60'}
          .inner-box.product
            .product-description
              %h4 The Potato Tote
              %hr
              .row
                .col-sm-6
                  %p.description Hoodie High Life tousled culpa trust fund. Tempor enim occaecat, biodiesel flexitarian freegan culpa Odd Future brunch Banksy next level. Godard fugiat vero farm-to-table Tonx pickled. Schlitz enim whatever, chia ennui aute letterpress authentic Pinterest aliquip. Blue Bottle ethnic Schlitz ennui farm-to-table. Proident Godard letterpress, shabby chic butcher reprehenderit esse. Proident Godard letterpress, shabby chic butcher reprehenderit esse.
                .col-sm-6
                  %h6 Notes
                  %p.description Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel lomo reprehenderit duis. Put a bird on it cardigan Brooklyn mlkshk hashtag.
                  %hr
                  .row.buy
                    .col-sm-6
                      %h5 $45.00
                    .col-sm-6
                      %button Buy
            .similar-items
              %hr
              %h7 Similar Items
              .row
                - 3.times do
                  .col-sm-4
                    .item
                      %a{:href => '/product'}
                        %img.similar-items{:src => '/images/bag.jpg'}

      .contact
        .inner-box.contact
          .row
            .col-sm-6
              %p Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel lomo reprehenderit duis. Put a bird on it cardigan Brooklyn mlkshk hashtag. Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel.
            .col-sm-6
              %a{:href => 'http://www.instagram.com/gromn'} 
                .icon-twitter Instagram
              %a{:href => 'http://www.twitter.com/gogromn'} 
                .icon-twitter Twitter
              %p Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel lomo reprehenderit duis. Put a bird on it cardigan Brooklyn mlkshk hashtag. Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel.

.footer
  .row
    .col-sm-6 © 2013 Gromn
    / .col-sm-4.icon 
    /   %a.icon-mail{:href => "mailto:alexalwright@gmail.com", :target => "_blank"}
    /   %a.icon-twitter{:href => "http://www.twitter.com/eatthesalt", :target => "_blank"}
    .col-sm-6
      %a.contact-link{:href => "/contact"} Contact Us
