.title 
  %a{:href => '/index'} Gromn

.main-box
  .main-box-content
    .intro
      %h1 Gromn
    .about
      %p GROMN is the brainchild Amiko Simonetti & Alexa Wright, two best friends who love designing clothing but can’t tolerate the ego overload in fashion. So we’re designing for people who want to participate in good clothing at a skin deep level. Meow meow meow meow smudge smell face. Come hang with us. 
