.product
  %img.product-main.img-responsive{:src => '/images/bag.jpg'}
  %img.full-width-image.img-responsive.view1{:src => 'http://placehold.it/950x500'}
  .inner-box.product
    / .row.arrows
    /   .col-sm-6.left
    /     %span.glyphicon.glyphicon-chevron-left
    /   .col-sm-6.right
    /     %span.glyphicon.glyphicon-chevron-right
    .product-description
      %h4 The Potato Tote
      %hr
      .row
        .col-sm-6
          %p Hoodie High Life tousled culpa trust fund. Tempor enim occaecat, biodiesel flexitarian freegan culpa Odd Future brunch Banksy next level. Godard fugiat vero farm-to-table Tonx pickled. Schlitz enim whatever, chia ennui aute letterpress authentic Pinterest aliquip. Blue Bottle ethnic Schlitz ennui farm-to-table. Proident Godard letterpress, shabby chic butcher reprehenderit esse. Proident Godard letterpress, shabby chic butcher reprehenderit esse.
        .col-sm-6
          %h6 Notes
          %p Cupidatat distillery keffiyeh, drinking vinegar put a bird on it XOXO scenester. American Apparel lomo reprehenderit duis. Put a bird on it cardigan Brooklyn mlkshk hashtag.
          %hr
          .row.buy
            .col-sm-6
              %h5 $45.00
            .col-sm-6
              %button Buy
    .similar-items
      %hr
      %h7 Similar Items
      .row
        - 3.times do
          .col-sm-4
            .item
              %a{:href => '/product', "data-link" => "product"}
                %img.similar-items{:src => '/images/tank.jpg'}
