.store
  .inner-box.store
    .row
      - 3.times do
        .col-sm-4
          .item
            %a{:href => '/product', "data-link" => "product"}
              %img.thumbnail{:src => '/images/tank.jpg'}
    .row
      - 3.times do
        .col-sm-4
          .item
            %a{:href => '/product', "data-link" => "product"}
              %img.thumbnail{:src => '/images/bag.jpg'}
    .row
      - 3.times do
        .col-sm-4
          .item
            %a{:href => '/product', "data-link" => "product"}
              %img.thumbnail{:src => '/images/tank-black.jpg'}