.product-inner-box
  padding: 10px 80px 20px

.product-description
  margin-bottom: 60px

.similar-items
  margin-bottom: 20px
  // display: inline-block
  width: 100% 

button
  background: black
  font-family: avenir
  font-weight: 500
  color: white
  text-transform: uppercase
  padding: 13px
  border: none
  width: auto
  letter-spacing: 1px
  &:hover
    background: #575757

img
  &.thumbnail,
  &.product-views
    &:hover
      opacity: 0.5
      -webkit-transition: opacity .2s ease-in-out
  &.product-views
    margin-bottom: 20px
img.product-main
  margin: 30px 10px 10px

.row.buy
  margin: 10px