=font
  font-family: avenir

h1, 
h2, 
h3,
h4,
h5,
h6,
h7,
h8,
p,
button,
.contact a
  +font
  line-height: 1.6em
  margin: .2em 0


.title
  text-align: center
  text-decoration: none
  font-size: 47px
  text-transform: uppercase
  color: #535353
  font-family: avenir
  letter-spacing: 2px
  margin-top: 47px
  font-weight: 600
  line-height: 55px
  text-shadow: 0 -1px 0 #2C2C2C
h1
  text-align: center
  font-size: 95px
  color: rgb(255, 94, 94)
  font-weight: 500
  text-shadow: 0 -1px 0 #ACACAC
h2
  font-size: 14px
  color: #929292
  font-weight: 600
  letter-spacing: .08em
  text-transform: uppercase
  &.similar
    font-size: 12px
h3
  font-size: 16px
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 1px
  &.similar
    font-size: 14.5px
    letter-spacing: 1.5px
h4
  font-size: 18px
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 1px
  text-align: left
  line-height: .8em
h5
  display: inline-block
  font-size: 19px
  letter-spacing: 1px
  font-weight: 500
  color: rgb(85, 85, 85)
  line-height: 38px
h6
  text-align: left
  font-size: 14px
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 1px
h7
  display: block
  text-align: center
  background: white
  width: 170px
  margin: -25px auto 0
  color: rgb(53, 53, 53)
  font-weight: 600
  letter-spacing: 1px
  text-transform: uppercase
  font-size: 13px
h8
  margin-top: -190px
  font-size: 20px
  display: block
  text-transform: uppercase
  font-weight: 600
  letter-spacing: 2px
  color: rgb(250, 134, 134)
  display: none
p
  text-align: justify
  font-size: 13px
  font-weight: 100
  letter-spacing: .5px
  color: #222222
  line-height: 1.8em
a
  color: gray
  &:hover
    text-decoration: none
    color: gray

.contact a 
  color: rgb(162, 162, 162)
  font-family: avenir
  font-weight: 600
  letter-spacing: 1px
  font-size: 11px
  text-transform: uppercase
  line-height: 0.5em
  text-align: left

.contact
  .col-sm-6
    text-align: left

.nav
  a
    font-size: 12px
    text-transform: uppercase
    font-family: avenir
    font-weight: 500
    color: #6B6B6B
    background: none
    letter-spacing: 2px
    +transition(opacity 2s linear)
    &:hover
      color: gray
      border-bottom: 3px solid rgba(231, 231, 231, 1)